.range-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lbl-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.hr-tag {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.lbl-input label {
    font-size: 1.0rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.lbl-input input[type="range"] {
    accent-color: #535bf2;
}

.lbl-input p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #444;
    background: rgba(83, 91, 242, 0.2);
    border: 1px solid rgba(83, 91, 242, 0.2);
    border-radius: 5px;
    padding: 3px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lbl-input-color {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
    padding: 10px;

}
.lbl-input-color label {
    font-size: 1.0rem;
    font-weight: 600;
    margin-right: 10px;
}
